.confirmationcontainer {
  height: 100vh;
}

.confirmationcart {
  margin: 0px 300px;
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative;
  bottom: 3rem;
  right: 4rem;
}

.bottombarbtnnew {
  position: relative;
  left: 38rem;
  bottom: 2rem;

  width: 345px;
  height: 62px;
}

.bottombarbtnnew1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 10px;

  position: relative;

  width: 345px;
  height: 62px;
  background: #b68300;
  border-radius: 35px;
  cursor: pointer;
}

.bottombarbtnnew1:hover {
  background-color: #e6b029;
}

.bottombarbtntextnew span {
  position: relative;
  display: flex;
  justify-content: center;
  top: 1px;
  width: 10rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}
