.discoverycontainer {
  margin-top: 6rem;
  padding: 1rem;
}
.titletext {
  padding: 5rem;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 600;
  font-size: 3.8rem;
  color: #dcdcdc;
}

.discovercontain {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
  
}

.showbtn {
  position: relative;
}
