.voucher {
  padding: 3rem;
}

.voucherheading h3 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 600;
  font-size: 43px;
  line-height: 57px;
  color: #dcdcdc;
}

.cardcontainer {
  display: flex;
  align-items: center;
  gap: 4rem;
  padding: 4rem 9rem;
}

.carditem {
  background-color: #9f0069;
  border-radius: 19px;
  padding: 20px;
  font-size: 30px;
  width: 350px;
  height: 210px;
  transition: transform 500ms ease;
}

.carditem:hover {
  background-color: #b30f7c;
  transform: scale(1.05);
}

.carditemtop h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 31px;
  line-height: 41px;
  color: #ffffff;
}

.carditemtop h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.carditembottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5rem;
}

.carditembottom h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: #ffffff;
}

.carditembottom span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}
