.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: rgb(25, 24, 24);
  padding: 9px;
  margin: 8px;
  position: absolute;
  left: 20rem;
  bottom: 6rem;
  width: 28rem;
  height: 13rem;
  border-radius: 15px;
  column-gap: 8px;
  row-gap: 8px;
}
.grid-item {
  background-color: #242424;
  border: 1px solid rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 40px;
  border-radius: 15px;
  color: #dcdcdc;
  height: 2.5rem;
  cursor: pointer;
}

.grid-item:hover {
  background-color: #3d3d3d;
}

