.reviewconta {
  display: flex;
  justify-content: space-between;
  margin: 3rem 8rem;
}

.reviewleft {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.totalratings {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.totalreview {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.singlereview {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.singlereview span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #e8cc2c;
}

.singlereview p {
  color: #757575;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 32px;
  color: #757575;
}

.singleratings h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24.16px;
  line-height: 36px;
  color: #ffffff;
}

.allstarcontainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.allstar {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.staritem {
  color: #e8cc2c;
}
.allstar span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #757575;
}

/* comment-section */
.userrevievsection {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.commentsection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.commentwrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.commentuserinfo {
  display: flex;
  align-items: center;
  gap: 36px;
}

.avatar {
  width: 91px;
  height: 91px;
  background-color: #ff8b8b;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  color: rgba(0, 0, 0, 0.63);
}

.userinfo > h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 25.1934px;
  line-height: 38px;
  color: #ffffff;
}

.userinfo > p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16.0321px;
  line-height: 24px;
  color: #8b8b8b;
}

.usercomment {
  margin-left: 40px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 19.897px;
  line-height: 30px;
  color: #8b8b8b;
}

.stars {
  padding-left: 3rem;
  color: #e8cc2c;
}
