.reviewconta{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    padding: 15px;
    position: relative;
    padding-left: 3rem;
}

.totalratings{
    position: relative;
    left: 1.5rem;
}

.totalreview{
    position: relative;
}
.totalreview span{
    position: relative;
    left: 0.5rem;
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 30px;
color: #E8CC2C;
}

.totalreview p{
    position: relative;
    color:#757575;
    width: 146px;
    left: 5rem;
    bottom: 1.8rem;
}

.singleratings{
    position: relative;
    right: 2rem;
}

.singleratings h3{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
color: #FFFFFF;

}

.allstarcontainer{
    position: relative;
    padding-left: 3.5rem;
}

.allstar{
    color: #E8CC2C;
}
 .allstar span{
    position: relative;
    left: 2rem;
    bottom: 4px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 30px;
color: #757575;
 }

/* .userreviews{
   
}

.userreview{
    
    margin: 20px 0px;
}



.usercontent{
    position: relative;
   
}

.usercontentdetails{
   
    margin: 20px 25px;
    position: relative;
    left: 1.5rem;
    bottom: 3.5rem;

}

.usercontent h2{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 38px;
color: #FFFFFF;
}

.usercontent span{
    position: relative;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #8B8B8B;
}

.star{
    position: relative;
    left: 28rem;
    width: 102px;
    bottom: 3rem;
    color: #E8CC2C;
    
    margin-left:10px
}

.singlecomment span{
    position: relative;
    font-family: 'Poppins';
    position: relative;
    bottom: 4rem;
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 30px;
color: #8B8B8B;
} */

/* comment-section */
.user-reviev-section {
    display: flex;
    flex-direction: column;
    gap: 70px;
  }
  
  .comment-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .comment-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .comment-user-info {
    display: flex;
    align-items: center;
    gap: 36px;
  }
  
  .avatar {
    width: 91px;
    height: 91px;
    background-color: #ff8b8b;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: rgba(0, 0, 0, 0.63);
  }
  
  .user-info > h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 25.1934px;
    line-height: 38px;
    color: #ffffff;
  }
  
  .user-info > p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16.0321px;
    line-height: 24px;
    color: #8b8b8b;
  }
  
  .user-comment {
    margin-left: 40px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 19.897px;
    line-height: 30px;
    color: #8b8b8b;
  }
  
  .stars {
    color: #e8cc2c;
  }
  

.loadMorebutton{
    position: relative;
    left: 40%;
    
    background: rgb(30, 29, 29);
    border-radius: 24px;
    width: 150px;
    height: 29px;
    cursor: pointer;
}

.loadMoretext{
    left: 74%;
    right: 18%;
    top: 3%;
    bottom: 92%;
    margin: 10px;
    display: flex;
    justify-content: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    color: #B68300;
    gap: 5px;
   
}