
.card{
    width: 340px;
    display: flex;
    flex-direction: column;
    gap: 1px;
    background-color: #232323;
    border-radius: 10px;
    font-family: "Poppins";
}

.image{
    position: relative;
    width: 97%;
    height: 220px;
    overflow: hidden;
    padding: 5px;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;  
}

.content{
    width: 100%;
    display: flex;
    justify-content:space-between;
    color: #B68300
}

.content h3{
    position: relative;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: "Poppins";
    display: flex;
    line-height: 30px;
    bottom: 5px;
    left: 13px;
  }
  .content span{
    position: relative;
    display: flex;
    font-size: 17px;
    right: 10px;
    font-family: "Poppins";
  }

  .link{
    text-decoration: none;
  }

  .cat{
    color: #DCDCDC;
    position:relative;
    font-size: 10px;
    line-height: 25px;
    left:0.9rem;
    bottom: 1rem;
  }

  .details{
    position: relative;
    right: 1.6rem;
    width: 100%;
  }

  .details p{
       position: relative;
       font-size: 1rem;
       font-weight: 500;
       font-family: "Poppins";
       display: flex;
       bottom: 10px;
       left: 34px;
       color: #DCDCDC;
  }
  .details span{
      position: relative;
      display: flex;
      font-weight: 500;
      font-family: "Poppins";
      font-size: 1rem;
      bottom: 0.5rem;
      left: 2.1rem;
      color: #DCDCDC
  }

