.ipsacontainer {
  padding-left: 6.5rem;
  display: flex;
  align-items: center;
  gap: 10rem;
}

.ipsadownloadleft {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.ipsaavaliable {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.availableheading span {
  color: #6a6a6a;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.appstoreicon {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.appstoreicon > #playstore {
  height: 22px;
  width: 22px;
}

.appstoreicon > #applestore {
  height: 20px;
  width: 22px;
}

.ipsapara > h1 {
  width: 572px;
  height: 204px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 600;
  font-size: 86px;
  line-height: 102px;
  color: #a5a5a5;
}

.ipsapara > p {
  width: 733px;
  margin-top: 1rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 40px;
  color: #6a6a6a;
}

.ipsadownloadright {
  box-sizing: border-box;
  position: relative;
}

.ipsadownloadright > #img1 {
  z-index: 2;
  position: absolute;
}

.ipsadownloadright > #img2 {
  position: relative;
  z-index: 1;
  height: 775px;
  left: 14rem;
  top: 3rem;
}

.testimoni {
  margin-top: 15rem;
}

.testimoni p {
  margin: auto;
  width: 733px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 40px;
  color: #6a6a6a;
}

.testimonia {
  margin-top: 1rem;
}

.business {
  padding: 5rem 6rem;
  display: flex;
  align-items: center;
}

.businessheading h1 {
  width: 349px;
  height: 204px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 600;
  font-size: 86px;
  line-height: 102px;
  color: #a5a5a5;
}

.businessheading p {
  width: 733px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 40px;
  color: #6a6a6a;
}

.learn {
  background: #1d1d1d;
  border-radius: 24px;
  cursor: pointer;
  width: 10rem;
  margin-top: 1rem;
}

.circlelearn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  color: #878787;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.circlelearn:hover {
  background: #302d2d;
  border-radius: 24px;
}

.businessright {
  width: 400px;
  height: 858px;
}
.busimg {
  display: flex;
  position: relative;
}

.busimg > #img3 {
  position: absolute;
  top: 11rem;
  right: 19rem;
  height: 25rem;
  z-index: 1;
}
.busimg > #img4 {
  position: absolute;
  top: 5rem;
  z-index: 2;
  width: 40rem;
}
