.datepickercontainer {
  border-radius: 10px;
}

.dateheader {
  padding: 10px;
  display: flex;
  align-items: center;
  font-family: "Poppins";
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  color: #afafaf;
}

.daydatecontainer {
  padding-top: 10px;
}

.days {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.days p {
  margin: 0px 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 20px;

  text-align: center;

  color: #ffffff;
}

.date {
  position: relative;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 30px;
  cursor: pointer;
  padding: 20px;
}

.date {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;

  text-align: center;

  color: #ffffff;
}

.active1{
  background-color: #b68300;
  border: 1px solid #afafaf;
  border-radius: 15%;
  height: 25px;
}
