.topdetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 12rem;
}

.leftdetails {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cate > h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  color: #616161;
}

.contentdetails > h1 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 600;
  font-size: 74px;
  line-height: 99px;

  color: #dcdcdc;
}

.locationdetails {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.locationdetail {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.locationdetail > p{
  display: flex;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  color: #b3b3b3;
}

.locationdistance {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.locationdistance > span{
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  color: #b3b3b3;
}

.rat {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.rat > span {
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 21.3024px;
line-height: 32px;
color: #E8CC2C;
}

.rat > p{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 17.81px;
line-height: 27px;
color: #B3B3B3;
}

.bookbtncontain {
  margin-top: 5rem;
}

.bookbtn {
  padding: 1rem;
  background: #b68300;
  border-radius: 13px;
  cursor: pointer;
  text-align: center;
}

.bookbtn:hover {
  background: #be9224;
}

.bookbtntext span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  color: #000000;
}

.mainImg {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
 .mainImg > #testimage {
  border-radius: 20px;
  width: 750px;
  height: 530px;
  z-index: 0;
}

.dotsco {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #262626;
  margin-right: 0.5rem;
  cursor: pointer;
}

.dot.active {
  background-color: #6a6a6a;
}

.mid {
  border-top: 1px solid #434343;
}


.detailheadingtop {
  display: flex;
  justify-content: space-between;
  padding: 4rem;
}

.shopname {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 32px;
  color: #c6c6c6;
}

.detailservices {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.availableservice{
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 32px;
  color: #c6c6c6;
}

.bookbtn1 {
  padding: 1rem 2rem;
  background: #b68300;
  border-radius: 48px;
  cursor: pointer;
}

.bookbtn1:hover {
  background: #be9224;
}

.bookbtntext1 span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 32px;
  color: #000000;
}

.detailheadingbottom{
  display: flex;
  justify-content: space-between;
  padding: 0 7rem;
}

.detailheadingcontent{
  width: 820px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 37px;
  color: #9c9c9c;
}

.detailslocation{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.detaillocation {
  display: flex;
  align-items: center;
  gap: 2rem;
}


.locationame{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.locationame > span {
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 33px;
color: #B3B3B3;
}

.mapbtn1 {
  padding: 0.5rem 1rem;
  background: #b68300;
  border-radius: 48px;
  cursor: pointer;
}

.mapbtn1:hover {
  background: #be9224;
}

.mapbtn span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 32px;
  color: #000000;
}


.time {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.timetable {
  background-color: #171717;
  border-radius: 64px;
  padding: 0.5rem 2rem;
}

.timetable > span {
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 33px;
color: #B3B3B3;
}

.vouchercontainer {
  margin-top: 3rem;
  padding-left: 2rem;
}

.membercontainer {
 padding-left: 2rem;
}

.reviewcontainer {
  margin-top: 2rem;
  padding-left: 6rem;
}

.reviewcontainer h3 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 600;
  font-size: 43px;
  line-height: 57px;
  color: #dcdcdc;
}
