.product{
    padding: 80px 50px;
    gap: 50px;
    
}

.topdetails{
  display: flex;
}

.leftdetails{
    position: relative;
    top: 4rem;
    padding-left: 7rem;
   
}

.cate{
    position: relative;
    left: 2.5rem;
    width: 50px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 26px;

color: #616161;
}

.contentdetails h3{
    position: relative;
    right: 2rem;
    width: 394px;
    font-family: 'Playfair Display';
font-style: normal;
font-weight: 600;
font-size: 74px;
line-height: 99px;

color: #DCDCDC;

}

.locationdetails{
    position: relative;
    left: 2.5rem;
}

.locationdetails p{
    display: flex;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 27px;
color: #B3B3B3;
}
 .locationdetails span{
    display: flex;
    position: relative;
   
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 27px;
color: #B3B3B3;
 }

 .rat span{
    position: relative;
    right: 2px;
    top: 4px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 27px;
color: #E8CC2C;
 }

 .rat p{
    position: relative;
    left: 1rem;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 27px;
color: #B3B3B3;
 }

 .rightdetails{
  width: 760px;
  height: 650px;
  display: flex;
  justify-content: center;
  position: relative;
  left: 7rem;
border-radius: 20px;
z-index: 0;
}

#testimage{
  border-radius: 20px;
  width: 750px;
  height: 530px;
  z-index: 0;
}


.bookbtncontain{
  position: relative;
  width: 350px;
  height: 60px;
  position: relative;
  top: 8rem;
}

.bookbtn {
   
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

position: relative;
width: 350px;
height: 60px;
right: 10px;
background: #B68300;
border-radius: 13px;
cursor: pointer;
}

.bookbtntext span {
  width: 129px;
height: 38px;
display: flex;
justify-content: center;
position: relative;
top: 0.5px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 38px;
color: #000000;
}

  .dotscon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 1rem;
    right: 50%;
    position: absolute;
  }
  
  .dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #262626;
    margin-right: 0.5rem;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: #6A6A6A;
  }

  .arrowicon{
    color: #B68300;
    position: relative;
    top: 36rem;
    right: 30rem;
    width: 50px;
    height: 35px;
  }

  .mid{
    position: relative;
    
    border-top: 1px solid #434343;
  }


  .detailheading{
    display: flex;
    justify-content: center;
    align-items: center;
   
  }

  .shopname{
    position: relative;
    right: 31rem;
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 21px;
line-height: 32px;
color: #C6C6C6;
    
  }

  .availableservice{
    position: relative;
    left: 23rem;
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 32px;
color: #C6C6C6;
}

.bookbtn1 {
   
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

position: relative;
width: 180px;
height: 45px;
left: 25rem;
background: #B68300;
border-radius: 48px;
cursor: pointer;
}

.bookbtntext1 span {
width: 103px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 21px;
line-height: 32px;
color: #000000;
}

.grid-conta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  position: relative;
  padding-left: 4rem;
}

.grid-content1{
  width: 820px;
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 166.5%;


color: #9C9C9C;
}

.grid-gr{
  position: relative;
  padding-top: 30px;
}

.grid-gr span{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;
position: relative;


color: #B3B3B3;
}

.mapbtn{
  position: relative;
  left: 17rem;
  height: 40px;
  width: 170px;
  bottom: 2rem;
  
}

.mapbtn1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 10px;
  
  position: relative;
  width: 170px;
  height: 40px;
  background: #B68300;
  border-radius: 48px;
  cursor: pointer;
}

.mapbtn span{
  position: relative;
  display: flex;
  justify-content: center;
  top: 1px;
  width: 10rem;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 21px;
line-height: 32px;
color: #000000;
  
}

.timedetails{
  background-color: #171717;
  border-radius: 64px;
  position:relative;
  left: 1rem;
  width: 465px;
  height: 60px;
}

.time{
  
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;
color: #B3B3B3;
display: flex;
justify-content: center;
align-items: center;
position: relative;
top: 1rem;
right: 5.5rem;
}

.vouchercontainer{
  position: relative;
}

.membercontainer{
  position: relative;
  top: 2rem;
}

.reviewcontainer{
  position: relative;
  padding-top: 7rem;
}

.reviewcontainer h3{
  position: relative;
  font-family: 'Playfair Display';
font-style: normal;
font-weight: 600;
font-size: 43px;
line-height: 57px;
color: #DCDCDC;
}

