.member {
  padding: 3rem;
}

.memberheading h3 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 600;
  font-size: 43px;
  line-height: 57px;
  color: #dcdcdc;
}

.membercontain {
  display: flex;
  align-items: center;
  gap: 4rem;
  padding: 4rem 9rem;
}

.memberitem {
  background-color: #00479a;
  border-radius: 19px;
  padding: 20px;
  font-size: 30px;
  width: 350px;
  height: 210px;
  transition: transform 500ms ease;
  cursor: pointer;
}

.memberitem:hover {
  background-color: #1a63b7;
  transform: scale(1.05);
}

.memberitemtop {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.membership {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #ffffff;
}

.membership > h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}

.membershiptitle > h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 31px;
  line-height: 41px;
  color: #ffffff;
}

.memberitembottom {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.membersession > span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.memberprice {
  display: flex;
  justify-content: space-between;
}

.memberprice > span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.memberprice > h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 31px;
  line-height: 41px;
  color: #ffffff;
}
