.container {
}

.scheduleText {
  margin: auto;
  margin-top: 60px;
  padding: 10px;
  width: 50%;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 600;
  font-size: 62.4722px;
  line-height: 83px;
  color: #dcdcdc;
}

.searchContainer {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  background-color: #242424;
  border-radius: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  /* border: 1px solid #000; */
}

.searchbox {
  background-color: #222222;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
  border-radius: 66px;
  border: 1px solid #000;
}
.locationbox {
  background-color: #222222;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
  border-top-left-radius: 66px;
  border-bottom-left-radius: 66px;
  border-left: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.fa-search {
  color: #acacac;
  font-size: 21px;
}

.searchbox > input {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 21.209px;
  line-height: 32px;
  background-color: #222222;
  color: #acacac;
}

.fa-location-dot {
  color: #acacac;
  font-size: 21px;
}

.locationbox > input {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 21.209px;
  line-height: 32px;
  background-color: #222222;
  color: #acacac;
}

.searchbtn {
  display: flex;
  align-items: center;
  padding: 20px;
  background: #b68300;
  border: none;
  border-top-right-radius: 66px;
  border-bottom-right-radius: 66px;
  cursor: pointer;
  border: 1px solid #000;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 21.6947px;
  line-height: 33px;
  color: #000000;
}

.searchbtn:hover {
  background: #be9224;
}

.get-app {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  width: 155px;
  height: 51px;
  background: #1d1d1d;
  border-radius: 85px;
  cursor: pointer;
  margin: auto;
}

.get-app:hover {
  background: #2d2d2d;
}

.getapp-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  color: #878787;
}

.circleglow1 {
  width: 274px;
  height: 274px;
  background: #b68300;
  filter: blur(265px);
  position: relative;
  bottom: 5rem;
  right: 170px;
}

.circleglow2 {
  background: #b68300;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  position: relative;
  left: 10rem;
  bottom: 9rem;
}

.circleglow3 {
  background: #b68300;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  position: relative;
  left: 40rem;
}
